@import "./sizes.scss";

.aboutSection {
  min-height: 100vh;
  padding: 5rem 1rem;
}

.introWrapper {
  display: block;
  position: relative;
}

@media only screen and (min-width: $sm) {
  .introWrapper {
    align-items: flex-end;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.imageWrapper {
  background-color: #f8f8f8;
  max-width: 700px;
  width: 100%;

  @media only screen and (min-width: $sm) {
    display: inline-block;
    margin-right: 2rem;
    width: 36vh;
  }

  @media only screen and (min-width: $m) {
    width: 50vh;
  }
}

.textWrapper {
  background-color: white;
  font-weight: normal;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 2;

  @media only screen and (min-width: $sm) {
    display: inline-block;
    max-width: 414px;
    padding-top: 0;
    padding-bottom: 0;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.25em;
  }
}

.aboutTitle {
  bottom: 1rem;
  color: black;
  font-size: clamp(26px, 12vw, 4em);
  font-weight: bold;
  left: 1rem;
  letter-spacing: -0.05em;
  line-height: 1;
  position: absolute;
  z-index: 3;
}

.contact {
  margin-top: 1rem;

  p {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 8px;
  }

  a {
    display: block;
  }

  a:hover {
    color: var(--pink);
  }
}

.copyright {
  display: block;
  margin-top: 2rem;
}

.portrait {
  display: inline-block;
  margin-right: 1rem;
}

.scroll,
.heading {
  background-color: var(--pink);
  display: block;
  margin-left: auto;
  margin-top: 10rem;
}

.caption {
  bottom: -1.6rem;
  position: absolute;
}

#StudieOne {
  background-color: #166c31;
  max-width: 50vh;
  margin-right: 0;

  @media only screen and (min-width: $sm) {
    margin-right: 20rem;
  }
}

#headingStudie {
  background-color: transparent;
  max-width: 50vh;
  margin-right: 0;
  margin-top: 2rem;

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  @media only screen and (min-width: $sm) {
    margin-right: 20rem;
  }
}

#nick {
  background-color: var(--pink);
  margin-left: 20vw;
  max-width: 34vh;

  @media only screen and (min-width: $sm) {
    margin-left: 4vw;
    max-width: 26vh;
  }

  @media only screen and (min-width: $m) {
    margin-left: 20vw;
    max-width: 34vh;
  }
}

#martin {
  background-color: var(--pink);
  margin-right: 20vw;
  margin-top: 4rem;
  max-width: 34vh;

  @media only screen and (min-width: $sm) {
    margin-right: 4vw;
    margin-top: -18rem;
    max-width: 26vh;
  }

  @media only screen and (min-width: $m) {
    margin-top: -18rem;
    margin-right: 20vw;
    max-width: 34vh;
  }
}

#glass {
  background-color: black;
  max-width: 50vh;
  margin-right: auto;

  @media only screen and (min-width: $sm) {
    max-width: 34vh;
  }

  @media only screen and (min-width: $m) {
    max-width: 50vh;
  }
}

#kid {
  background-color: orange;
  margin-left: 0;
  max-width: 32vh;
}

#StudieThree {
  background-color: var(--red);
  margin-right: 0;
  max-width: 100vh;
}
