@import "./sizes.scss";

.mainFooter {
    background-color: white;
    padding: 1rem;
    padding-bottom: 10rem;

    @media only screen and (min-width: $sm) {
        padding-bottom: 1rem;
    }

    a:hover {
        color: var(--pink)
    }
}

.mail {
    font-size: clamp(18px, 8vw, 2.2em);
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
    text-decoration: underline;

    @media only screen and (min-width: $sm) {
        margin-bottom: .6rem;
        text-align: right;
    }
}

.copyright, .address {
    text-align: left;

    @media only screen and (min-width: $sm) {
        text-align: right;
    }
}
