@import "./sizes.scss";

.masonryWrapper {
  margin: 0 auto;
  padding: 6rem 3rem;

  @media (max-width: $m) {
    padding: 6rem 0 2rem 1rem;
  }
}

.galleriTitle {
  bottom: 1rem;
  color: #fff;
  font-size: clamp(26px, 12vw, 4em);
  font-weight: bold;
  left: 1rem;
  letter-spacing: -0.05em;
  line-height: 1;
  mix-blend-mode: difference;
  position: fixed;
  z-index: 3;
}

.galleryItemInner {
  position: relative;
}

.singleImageWrapper {
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
}

.singleImageWrapper * {
  cursor: none;
}

.singleImageTitle {
  bottom: 1rem;
  color: #fff;
  font-size: clamp(26px, 12vw, 4em);
  font-weight: bold;
  left: 1rem;
  letter-spacing: -0.05em;
  line-height: 1;
  margin: 0;
  mix-blend-mode: difference;
  position: fixed;
  z-index: 9;
}

.singleImageInner {
  display: block;
  height: 100%;
}

.image {
  width: auto !important;
  min-width: auto !important;
}

.prevImage a {
  align-items: center;
  display: flex;
  height: 100%;
  left: 1rem;
  mix-blend-mode: difference;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 20vw;
}

.nextImage a {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  mix-blend-mode: difference;
  position: fixed;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 20vw;
}

.nextWrapper,
.previousWrapper {
  width: 41px;
}
