@import "./sizes.scss";

.galleryWrapper {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  padding: 6rem 1rem 2rem;
  position: relative;
  row-gap: 4rem;
  z-index: 1;

  @media only screen and (min-width: $sm) {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 6rem 3rem;
  }
}

.galleriTitle {
  bottom: 1rem;
  color: #fff;
  font-size: clamp(26px, 12vw, 4em);
  font-weight: bold;
  left: 1rem;
  letter-spacing: -0.05em;
  line-height: 1;
  mix-blend-mode: difference;
  position: fixed;
  z-index: 3;
}

.galleryItemInner {
  position: relative;
}

.singleImageWrapper {
  background-color: #fff;
  bottom: 0;
  left: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 8;
}

.singleImageTitle {
  bottom: 1rem;
  color: #fff;
  font-size: clamp(26px, 12vw, 4em);
  font-weight: bold;
  left: 1rem;
  letter-spacing: -0.05em;
  line-height: 1;
  margin: 0;
  mix-blend-mode: difference;
  position: fixed;
  z-index: 9;
}

.singleImageInner {
  display: block;
  height: 100%;
}

.image {
  width: auto !important;
  min-width: auto !important;
}
