html,
body {
    background-color: var(--pink);
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif, 'Atkinson Hyperlegible', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
    --pink: #FF3177;
    --lightPink: #FFBCD3;
    --red: #FF0000;
    --yellow: #FFB400;
    --easeInOut: cubic-bezier(0.65, 0, 0.35, 1);
}
