@import "./sizes.scss";

.introAnimation {
  bottom: 0;
  background-color: #000;
  clip-path: inset(0 0 0% 0);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99;

  .introInner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    @media only screen and (max-width: $sm) {
      min-width: calc(100% - 2rem);
      width: calc(100% - 2rem);
    }
  }

  h1 {
    display: block;
    color: white;
    font-size: 1em;
    margin: 0;
    margin-bottom: 1rem;
    mix-blend-mode: difference;
    overflow: hidden;
    z-index: 1;

    span {
      display: block;
    }
  }

  .textContainer {
    color: white;
    font-size: 2vw;
    font-weight: 300;
    margin: 0;
    mix-blend-mode: difference;

    .spanAnim {
      display: block;
      overflow: hidden;
      position: relative;
    }

    span {
      display: block;
    }

    @media only screen and (max-width: $sm) {
      font-size: 1.2em;
    }
  }

  .timeline {
    background-color: grey;
    display: block;
    height: 3px;
    margin-top: 1rem;
    position: absolute;
    width: 100%;

    .line {
      background-color: white;
      content: '';
      display: block;
      height: 3px;
      left: 0;
      position: absolute;
      top: 0;
      opacity: 1;
      width: 0%;
    }
  }

  .introImage {
    opacity: 0.25;
  }
}

.introAnimationPlayed {
  display: none;
}

.logo {
  bottom: 50%;
  left: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, 45%);
  width: calc(100% - 2rem);
  z-index: 1;

  @media only screen and (min-width: $sm) {
    width: 62vw;
  }

  @media only screen and (min-width: $m) {
    width: 45vw;
  }
}

.indexTitle {
  bottom: 1rem;
  color: #fff;
  font-size: clamp(26px, 12vw, 4em);
  font-weight: bold;
  left: 1rem;
  letter-spacing: -0.05em;
  line-height: 1.2;
  mix-blend-mode: difference;
  overflow: hidden;
  position: fixed;
  z-index: 3;

  .indexTitleInner {
    display: block;
  }
}

.introSection {
  padding: 1rem 0;

  @media only screen and (min-width: $sm) {
    padding: 2rem;
  }
}

.scrollSection {
  padding: 6rem 1rem 4rem;

  @media only screen and (min-width: $sm) {
    padding: 4rem 1rem 2rem;
  }
}

.scroll {
  background-color: var(--pink);
  display: block;
  margin-left: auto;
  margin-top: 4rem;
  max-width: 75vw;
  position: relative;
  z-index: 2;
}

.heading {
  display: block;
  margin-left: auto;
  margin-top: 14rem;
  margin-bottom: 4rem;

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
  }

  .headingContact {
    display: inline-flex;
    font-size: 1.2em;
    margin-top: 1rem;
    position: relative;

    &::after {
      content: '>';
      margin-left: 0.5rem;
    }

    &:hover {
      color: var(--pink);
    }

    &::before {
      bottom: -2px;
      border-bottom: 2px solid black;
      display: block;
      content: '';
      position: absolute;
      width: 100%;
    }
  }
}
