@import "./sizes.scss";

.logo {
  bottom: 50%;
  left: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, 45%);
  width: calc(100% - 2rem);
  z-index: 3;

  @media only screen and (min-width: $sm) {
    width: 62vw;
  }

  @media only screen and (min-width: $m) {
    width: 45vw;
  }
}

.indexTitle {
  bottom: 1rem;
  color: #fff;
  font-size: clamp(26px, 12vw, 4em);
  font-weight: bold;
  left: 1rem;
  letter-spacing: -0.05em;
  line-height: 1.2;
  mix-blend-mode: difference;
  overflow: hidden;
  position: fixed;
  z-index: 3;

  .indexTitleInner {
    display: block;
  }
}

.introSection {
  padding: 1rem 0;

  @media only screen and (min-width: $sm) {
    padding: 2rem;
  }
}

.scrollSection {
  padding: 5rem 1rem 4rem;

  @media only screen and (min-width: $sm) {
    padding: 4rem 1rem 2rem;
  }
}

.scroll {
  background-color: var(--pink);
  display: block;
  margin-left: auto;
  margin-top: 8rem;
  max-width: 75vw;
  position: relative;
  z-index: 2;
}

.heading {
  display: block;
  margin-left: auto;
  margin-top: 14rem;
  margin-bottom: 4rem;

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
  }

  .headingContact {
    display: inline-flex;
    font-size: 1.2em;
    margin-top: 1rem;
    position: relative;

    &::after {
      content: '>';
      margin-left: 0.5rem;
    }

    &:hover {
      color: var(--pink);
    }

    &::before {
      bottom: -2px;
      border-bottom: 2px solid black;
      display: block;
      content: '';
      position: absolute;
      width: 100%;
    }
  }
}
