@import 'sizes.scss';

.logo {
  align-items: center;
  display: flex;
  left: 0;
  height: 100%;
  justify-content: center;
  mix-blend-mode: difference;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;

  @media only screen and (min-width: $m) {
    height: 100%;
  }

  .logoInner {
    width: calc(100% - 2rem);

    @media only screen and (min-width: $sm) {
      width: 62vw;
    }

    @media only screen and (min-width: $m) {
      width: 44vw;
    }
  }
}

.indexTitle {
  bottom: 1rem;
  color: #fff;
  color: black;
  font-size: max(26px, 6vw);
  font-weight: bold;
  left: 1rem;
  letter-spacing: -0.05em;
  line-height: 1.2;
  //mix-blend-mode: difference;
  //overflow: hidden;
  position: fixed;
  z-index: 0;

  .indexTitleInner {
    display: block;
  }
}

.scroll {
  background-color: var(--pink);
  display: block;
  margin-left: auto;
  margin-top: 9rem;
  max-width: 98vw;
  position: relative;
  z-index: 2;
}

.maze {
  margin-right: auto;
  margin-left: auto;
  margin-top: 7.5rem;
  width: 80vw;
  z-index: 0;

  @media only screen and (min-width: $m) {
    margin-right: auto;
    margin-left: 12vw;
    margin-top: 0;
    width: 40vw;
  }
}

.gurkemeje {
  margin-right: auto;
  margin-left: 1rem;
  margin-top: 4rem;
  width: 75vw;
  z-index: 0;

  @media only screen and (min-width: $m) {
    margin-left: 12vw;
    margin-top: 1rem;
    width: 48vw;
  }
}

.model {
  margin-right: 1rem;
  margin-left: auto;
  width: 60vw;
  z-index: 0;

  @media only screen and (min-width: $m) {
    margin-left: auto;
    margin-right: 2rem;
    margin-top: -6rem;
    width: 20vw;
  }
}

.borster {
  margin-right: 1rem;
  margin-left: auto;
  margin-top: 9rem;
  width: 50vw;
  z-index: 0;

  @media only screen and (min-width: $m) {
    margin-left: auto;
    margin-right: 10vw;
    margin-top: 3rem;
    width: 18vw;
  }
}

.youngskin {
  margin-right: auto;
  margin-left: 1rem;
  margin-top: 9rem;
  width: 65vw;
  z-index: 0;

  @media only screen and (min-width: $m) {
    margin-left: 2rem;
    margin-top: 6rem;
    width: 36vw;
  }
}

.scrub {
  margin-right: auto;
  margin-left: 1rem;
  width: 75vw;
  z-index: 0;

  @media only screen and (min-width: $m) {
    margin-left: 8vw;
    margin-top: 4rem;
    width: 45vw;
  }
}

.rum {
  margin-right: 1rem;
  margin-left: auto;
  width: 75vw;
  z-index: 0;

  @media only screen and (min-width: $m) {
    margin-left: auto;
    margin-right: 2rem;
    margin-top: -4rem;
    width: 24vw;
  }
}

.vase {
  margin-right: auto;
  margin-left: 1rem;
  width: 75vw;
  z-index: 2;

  @media only screen and (min-width: $m) {
    margin-left: auto;
    margin-right: 12vw;
    margin-top: 8rem;
    width: 60vw;
  }
}

.hund {
  margin-right: auto;
  margin-left: auto;
  width: 75vw;
  z-index: 2;

  @media only screen and (min-width: $m) {
    margin-left: 2rem;
    margin-right: auto;
    margin-top: -4rem;
    width: 18vw;
  }
}

.lemonade {
  margin-right: 1rem;
  margin-left: auto;
  width: 75vw;
  z-index: 2;

  @media only screen and (min-width: $m) {
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 2rem;
    width: 30vw;
  }
}

.kvinde {
  margin-right: auto;
  margin-left: 1rem;
  width: 75vw;
  z-index: 2;

  @media only screen and (min-width: $m) {
    margin-left: 26vw;
    margin-right: auto;
    margin-top: 2rem;
    width: 34vw;
  }
}

.pige {
  margin-right: 1rem;
  margin-left: auto;
  width: 75vw;
  z-index: 2;

  @media only screen and (min-width: $m) {
    margin-left: 2rem;
    margin-right: auto;
    margin-top: 4rem;
    width: 16vw;
  }
}

.worker {
  margin-right: auto;
  margin-left: auto;
  width: 75vw;
  z-index: 2;

  @media only screen and (min-width: $m) {
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 4rem;
    width: 25vw;
  }
}

.stol {
  margin-right: auto;
  margin-left: 1rem;
  width: 75vw;
  z-index: 2;

  @media only screen and (min-width: $m) {
    margin-left: 2rem;
    margin-right: auto;
    margin-top: 0;
    width: 40vw;
  }
}

.rum2 {
  margin-right: auto;
  margin-left: auto;
  width: 75vw;
  z-index: 2;

  @media only screen and (min-width: $m) {
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 4rem;
    width: 25vw;
  }
}

.organic {
  margin-right: auto;
  margin-left: 1rem;
  width: 75vw;
  z-index: 2;

  @media only screen and (min-width: $m) {
    margin-left: 10vw;
    margin-right: auto;
    margin-top: -8rem;
    width: 32vw;
  }
}

.is {
  margin-right: 1rem;
  margin-left: auto;
  width: 75vw;
  z-index: 2;

  @media only screen and (min-width: $m) {
    margin-left: auto;
    margin-right: 20vw;
    margin-top: 6rem;
    width: 25vw;
  }
}

.schaf {
  margin-right: auto;
  margin-left: 1rem;
  width: 75vw;
  z-index: 2;

  @media only screen and (min-width: $m) {
    margin-left: 10vw;
    margin-right: auto;
    margin-top: 6rem;
    width: 22vw;
  }
}

.antiage {
  margin-right: 1rem;
  margin-left: auto;
  width: 75vw;
  z-index: 2;

  @media only screen and (min-width: $m) {
    margin-left: auto;
    margin-right: 2rem;
    margin-top: -4rem;
    width: 36vw;
  }
}
