@import "./sizes.scss";

.mainNav {
  display: flex;
  justify-content: space-between;
  left: 0;
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  padding: 1rem;
  width: 100%;
  z-index: 4;
}

.menuContent {
  background-color: #000;
  height: 100%;
  right: 0;
  max-width: 414px;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  padding: 4rem 1.25rem;
  width: 100%;
  z-index: 3;
}

.listTel {
  font-size: 0.4em;
}

.listMail {
  font-size: 0.4em;
  text-decoration: underline;
}

.menuList {
  bottom: 3rem;
  color: white;
  list-style-type: none;
  line-height: 1;
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  position: absolute;

  li {
    letter-spacing: -0.05em;
    margin-bottom: 0.5rem;
    //text-transform: uppercase;
  }
}

.contactList {
  list-style: none;
  font-weight: normal;
  margin-top: 3rem;
  padding: 0;

  li {
    letter-spacing: normal;
    text-transform: none;
  }
}

.socialLinks li {
  color: #fff;
  display: inline-block;
  font-weight: 500;
  margin-right: 0.6rem;

  &:hover {
    color: grey;
  }
}

.menuList li:hover {
  color: var(--pink);
}

.socialLinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.socialLinks li:nth-child(2):hover {
  color: black;
}

.menuBtn button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.menuIcon span {
  background-color: #fff;
  display: block;
  margin-bottom: 1px;
  height: 0.5rem;
  width: 3rem;
}

.menuIconOpened span:first-child,
.menuIconOpened span:last-child {
  display: none;
}

.menuIcon span:last-child {
  width: 1.5rem;
}

.menuIconOpened:hover span {
  background-color: grey;
}

.menuIconClosed:hover span {
  background-color: grey;
}

.menuIcon:hover {
  cursor: pointer;
}
