#kronstadtSkater {
    background-color: #428EB3;
    margin-top: 0;
    max-width: 60vh;
}

@media only screen and (min-width: 415px) {
    #kronstadtSkater {
        margin-left: 16vw;
    }
}

#myMoments {
    background-color: #F9EBEA;
    max-width: 40vh;
    margin-right: 0;
}

@media only screen and (min-width: 415px) {
    #myMoments {
        margin-top: -5rem;
        margin-right: 5vw;
    }
}

#Marengs {
    background-color: #F3F6FA;
    max-width: 40vh;
    margin-left: 0;
}

@media only screen and (min-width: 415px) {
    #Marengs {
        max-width: 60vh;
        margin-left: 15vw;
    }
}

#Vimeo {
    background-color: black;
}

@media only screen and (min-width: 415px) {
    #Vimeo {
        max-width:100vh;
        margin-left: auto;
        margin-right: auto;
    }
}

#Maze {
    background-color: #166C31;
}

#Maze, #is {
    margin-right: 0;
    max-width: 40vh;
}

@media only screen and (min-width: 415px) {
    #Maze {
        max-width: 60vh;
        margin-left: auto;
        margin-right: 15vw;
    }
}

#is {
    background-color: #074E71;
}

@media only screen and (min-width: 415px) {
    #is {
        max-width: 60vh;
        margin-left: auto;
        margin-right: 15vw;
    }
}

#heading {
    margin-left: 0;
}

@media only screen and (min-width: 415px) {
    #heading {
        max-width: 30vw;
        margin-left: auto;
        margin-right: 25vw;
    }
}

#Femina1 {
    background-color: #DEA826;
    max-width: 60vh;
}

@media only screen and (min-width: 415px) {
    #Femina1 {
        margin-left: 16vw;
    }
}


#Femina2 {
    background-color: #A03D10;
    max-width: 40vh;
    margin-right: 0;
}

@media only screen and (min-width: 415px) {
    #Femina2 {
        margin-top: -5rem;
        margin-right: 5vw;
    }
}

#Stol {
    background-color: #E9CEEF;
}

@media only screen and (min-width: 415px) {
    #Stol {
        max-width: 980px;
        margin-right: auto;
        margin-left: auto;
    }
}

#Isabellas1 {
    background-color: #E7D1A9;
}

@media only screen and (min-width: 415px) {
    #Isabellas1 {
        max-width: 65vh;
        margin-left: auto;
        margin-right: 10vw;
    }
}

#Isabellas2 {
    background-color: #78869B;
    max-width: 40vh;
    margin-left: 0;
}

@media only screen and (min-width: 415px) {
    #Isabellas2 {
        margin-top: -5rem;
        margin-left: 5vw;
    }
}

#Femina3 {
    background-color: #0B52C5;
}

@media only screen and (min-width: 415px) {
    #Femina3 {
        max-width: 60vh;
        margin-left: 15vw;
    }
}
