#firstCase {
  margin-right: auto;
  margin-left: 0;
  margin-top: 0;
  width: 75vw;
}

@media only screen and (min-width: 415px) {
  #firstCase {
    width: 45vw;
  }
}

@media only screen and (min-width: 1024px) {
  #firstCase {
    margin-left: 12vw;
    width: 34vw;
  }
}

#secondCase {
  width: 62vw;
  margin-right: 0;
}

@media only screen and (min-width: 415px) {
  #secondCase {
    width: 25vw;
    margin-top: -4rem;
  }
}

@media only screen and (min-width: 1024px) {
  #secondCase {
    margin-top: -2rem;
    margin-bottom: -4rem;
    width: 28vw;
  }
}

#thirdCase {
  margin-left: 0;
  width: 80vw;
}

@media only screen and (min-width: 415px) {
  #thirdCase {
    margin-left: 8vw;
    width: 40vw;
  }
}

@media only screen and (min-width: 1024px) {
  #thirdCase {
    width: 30vw;
  }
}

#fourthCase,
#tenthCase {
  margin-right: 0;
  width: 60vw;
}

@media only screen and (min-width: 415px) {
  #fourthCase {
    width: 36vw;
  }
}

@media only screen and (min-width: 1024px) {
  #fourthCase {
    margin-left: auto;
    margin-right: 10vw;
    width: 36vw;
  }
}

@media only screen and (min-width: 415px) {
  #tenthCase {
    margin-left: auto;
    margin-right: 5vw;
    width: 36vw;
  }
}

@media only screen and (min-width: 1024px) {
  #tenthCase {
    margin-left: auto;
    margin-right: 15vw;
    width: 20vw;
  }
}

#heading {
  margin-left: 0;
}

@media only screen and (min-width: 415px) {
  #heading {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
  }
}

#fifthCase {
  background-color: #dea826;
  margin-left: 0;
  width: 54vw;
}

@media only screen and (min-width: 415px) {
  #fifthCase {
    width: 36vw;
  }
}

@media only screen and (min-width: 1024px) {
  #fifthCase {
    width: 28vw;
  }
}

#sixthCase {
  margin-right: 0;
  width: 68vw;
}

@media only screen and (min-width: 415px) {
  #sixthCase {
    width: 52vw;
  }
}

@media only screen and (min-width: 1024px) {
  #sixthCase {
    width: 40vw;
  }
}

#seventhCase {
  margin-left: 0;
  max-width: none;
  width: calc(100vw - 2rem);
}

@media only screen and (min-width: 415px) {
  #seventhCase {
    width: 58vw;
  }
}

#eightCase {
  width: 54vw;
}

@media only screen and (min-width: 415px) {
  #eightCase {
    width: 30vw;
  }
}

@media only screen and (min-width: 1024px) {
  #eightCase {
    width: 25vw;
  }
}

#ninthCase {
  margin-left: 0;
}

@media only screen and (min-width: 415px) {
  #ninthCase {
    width: 55vw;
  }
}

@media only screen and (min-width: 1024px) {
  #ninthCase {
    margin-top: -4rem;
    margin-left: 10vw;
    width: 36vw;
  }
}

#eleventhCase {
  background-color: #0b52c5;
  margin-left: 0;
}

@media only screen and (min-width: 415px) {
  #eleventhCase {
    width: 55vw;
  }
}

@media only screen and (min-width: 1024px) {
  #eleventhCase {
    max-width: 55vh;
    margin-left: 15vw;
  }
}
