@import "./sizes.scss";

.videoSection {
  min-height: calc(100vh - 68px);
}

.videoGalleryWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  min-height: 100%;
  padding: 6rem 1rem;
  position: relative;
  row-gap: 2rem;
  z-index: 1;

  @media only screen and (min-width: $sm) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  @media only screen and (min-width: $m) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    padding: 6rem 3rem;
  }
}

.videoTitle {
  bottom: 1rem;
  color: #fff;
  font-size: clamp(26px, 12vw, 4em);
  font-weight: bold;
  left: 1rem;
  letter-spacing: -0.05em;
  line-height: 1;
  mix-blend-mode: difference;
  position: fixed;
  z-index: 3;
}

.videoWrapper {
  display: block;
  max-width: 800px;
  position: relative;
}

.vimeoContainer {
  padding-top: 56.25%;
}

.vimeoVideo {
  bottom: 0;
  display: block;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
